{% extends 'main.html'%}
    {% block content%}
    <div class="antialiased bg-white">
       {% include 'dashboard/components/navBar.html'%}
    
        <!-- Sidebar -->
    
       
    
        <main class="p-4 h-auto pt-20">
          <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
            <div class="h-48 md:h-64">
                <button class="btn btn-outline w-full h-full">book maintaince</button>
            </div>
            <div
              class="h-48 md:h-64"
            ><button class="btn btn-outline w-full h-full">book maintaince</button></div>
            <div
              class="h-48 md:h-64"
            ><button class="btn btn-outline w-full h-full">book maintaince</button></div>
            <div
              class="h-48 md:h-64"
            ><button class="btn btn-outline w-full h-full">book maintaince</button></div>
          </div>
          
          <div
            class="h-96 mb-4 bg-gray-100"
          ><h1>sdflkj</h1></div>
          
        </main>
      </div>

    {% endblock %}

    
