{% load static %}
<img class="w-[150px]" src="{%static 'LogoFinal.png' %}" alt="sss">
<h1 class="mt-10">Resident Portal</h1>
<h1 class="text-slate-900  tracking-tight font-extrabold sm:text-5xl this1"> Sign in to your account</h1>

<a href="http://"><p class="mb-6 font-light text-gray-500 md:text-lg mt-5 hover:underline">Register</p></a>




<style>
    /* Social Login Buttons */
.this1{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 70.406px;;

color: #000000;
}



</style>