{% load static %}
<div id="navbar" class="navbar px-1 fixed top-0 transition duration-150 ease-in-out  hover:shadow-2xl hover:bg-gray-100" style="z-index: 100;">
  <div class="navbar-start p-2">
    <a class="text-4xl text-white font-bold px-10 abel-regular " href="{% url 'homepage' %}"><img class="w-[150px]" src="{%static 'LogoFinal.png' %}" alt=""></a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-10 font-bold text-md text-black">
      <li><a class="round-2xl hover:scale-[1.1] ease-out duration-300 hover:bg-white hover:text-black focus:ring-4 focus:ring-blue-300" href="">Availability</a></li>
      <li><a class="" href="">Virtual Tours</a></li>
      <li><a  class="" href="">Book a tour</a></li>
      <li><a  class="" href="">Lease a suite</a></li>
    </ul>
  </div>

    <div class="navbar-end " > 
      <a href="{% url 'loginPage'%}" class="hidden mx-8 xl:inline-flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ml-1 sm:ml-3">Residents</a>
      <div class="lg:hidden">
        
        <div class="drawer drawer-end">
          <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
          <div class="drawer-content">
            <!-- Page content here -->
            <label for="my-drawer-4" class="drawer-button btn btn-primary">Open drawer</label>
          </div> 
          <div class="drawer-side">
            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu p-4 w-80 min-h-full bg-base-100 text-base-content">
              <!-- Sidebar content here -->
              <li><a>Sidebar Item 1</a></li>
              <li><a>Sidebar Item 2</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
</div>


<script>
function updateDivPosition() {
  let scrollY = window.scrollY; // Get current scroll position

  //  rotate to 0
  if (scrollY >= 10 && scrollY <= 450) {
    document.getElementById('navbar').style.background=`rgba(16, 24, 34, ${scrollY/5-20})`
  }
 
}



// window.addEventListener("scroll", updateDivPosition);</script>

